@media (max-width : 480px) {

    /* HEADER */
    .top-header-container .logo-image, .top-header-container .logo-image img{ width: 100%; }
    .top-header-container .search-block{ width: 100%; clear: both;}
    .top-header-container .search-block .select-site-container { padding-left: 0px;}
    .top-header-container .search-block .select-site-container select { width: auto; background: none; position: static; font-size: 12px;}
    .top-header-container .search-block .search-box .search-input { font-size: 11px;     min-width: 220px; margin-left: 0;}
    .top-header-container .link-user { width: 400px; clear: both;  padding-top: 50px; text-align: center; padding-left: 30%;}
    .top-header-container .link-user  a {     float: left;}
	.nh-description , .slider-banner{display: none;}
	.header  .menu-xs{display: block; visibility: visible;}
	.order-step {display: none; visibility: hidden;}
	.origin-block .list-category li {width: 100%;}
	.origin-block .list-category li a.image-link .category-title{left: 30%}
	.origin-block .list-category li a.image-link img {width: 70%;height: auto;margin: 0 auto;}
	.origin-block .list-category li a.image-link {width: 100%;height: auto;text-align: center;}
	.origin-block .origin-header{background: none;}
	.origin-header .origin-title i{font-size: 15px;}
	.origin-header .origin-title strong{font-size: 25px;}
	.footer-block .footer-container .block{padding: 10px 20px; width: 100%; margin-top: 0px;}
	.footer-logo-2 , .footer-company-name{width: 100%; padding: 10px 20px; }
	.footer-block .footer-container .footer-block-title{padding-top: 10px;}
	.footer-info{display: none; visibility: hidden;}
	
	.blog-list .blog-item .thumbnail-img img{max-width: 100px; max-height: 80px;}
	.category-blog-pages  .blog-pages-right .blog-list .blog-item .blog-title , .category-blog-pages  .blog-pages-right .blog-list .blog-item .blog-content{padding-left: 110px;}
	.blog-content p{max-height: 60px; overflow: hidden; text-align: justify;}
	.blog-quick{display: none!important;}
	.blog-list:after{display: none!important}
	.blog-pages .blog-pages-right{width: 100%!important;}
	.blog-pages .blog-pages-right .blog-list{padding-right: 20px!important;}
	.category-blog-pages  .blog-pages-left{width: 100%; padding: 0;}
	.blog-list, .blog-pages-right{min-height: 0!important;}
	.page-header{display: none!important;; visibility: hidden!important;}
	.blog-pages-right .single-blogs{padding: 20px; padding-right: 20px!important;}
	.single-blogs .single-blog .thumbnail-img img{width: 100%; height: auto}
	.single-blogs .single-blog:after{background: none;}
}
