@media (max-width : 1199px) {

    /* HEADER */
    .ui-tabs-nav li a{
       padding: 0.5em 0.7em !important;
    }
    .contact-info{width: 20%;}
    .main-menu .nav>li>a{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .main-menu .nav>li>a{
       line-height: 93px;
    }
}


@media (max-width : 1024px) {
    /* FOOTER */
    .time-detail .schedule_visit a{
       padding: 6px 25px;
    }
}


@media (max-width : 1000px) {
    .container{width: 100% !important;}
    .top-header{padding: 0px 15px;}
    .header{padding: 0px 15px;}
    .wrap .content{padding: 0px 15px;}
    /* FOOTER */
    .time-detail .schedule_visit a{
       padding: 6px 25px;
    }
    /* HEADER */
    .main-menu .nav>li>a{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .contact-info{
        margin-top:43px !important;
    }
    .phone_number h3{
        font-size: 22px !important;
    }
    
    .col-box-image .wpb_single_image{
        width:20%;
    }
}   


@media (max-width : 940px) {
    .container{width: 100% !important;}
    .top-header{padding: 0px 15px;}
    .header{padding: 0px 15px;}
    .wrap .content{padding: 0px 15px;}
    /* FOOTER */
    .time-detail .schedule_visit a{
       padding: 6px 25px;
    }
    /* HEADER */
    .main-menu .nav>li>a{
        padding-left: 5px !important;
        padding-right: 5px !important;
        font-size: 12px !important;
    }
    .contact-info{
        margin-top:43px !important;
    }
    .phone_number h3{
        font-size: 18px !important;
    }
    .phone_icon{
        width: 26px !important;
        font-size: 28px !important;
    }
}   

@media (max-width : 860px) {
    .container{width: 100% !important;}
    .top-header{padding: 0px 15px;}
    .header{padding: 0px 15px;}
    .wrap .content{padding: 0px 15px;}
    /* FOOTER */
    .time-detail .schedule_visit a{
       padding: 6px 25px;
    }
    /* HEADER */
    .main-menu{width: 100% !important; }
    .main-menu .nav>li>a{
        padding-left: 5px !important;
        padding-right: 5px !important;
        font-size: 14px !important;
    }
    .contact-info{
        margin-top:0px !important;
        width: 100% !important;
    }
    .contact-info-container{width: 160px;
        float: right;
    }
    .phone_number h3{
        font-size: 18px !important;
    }
    .phone_icon{
        width: 26px !important;
        font-size: 28px !important;
    }

    
}  

@media (max-width : 767px) {
    .container{width: 100% !important;}
    .top-header{padding: 0px 15px;}
    .header{padding: 0px 15px;}
    .wrap .content{padding: 0px 15px;}
    /* FOOTER */
    .time-detail .schedule_visit a{
       padding: 6px 25px;
    }
    /* HEADER */
    .main-menu{width: 100% !important; position: relative;}
    .main-menu .nav>li>a{
        padding-left: 5px !important;
        padding-right: 5px !important;
        font-size: 14px !important;
    }
    .contact-info{
        margin-top:0px !important;
        width: 100% !important;
    }
    .contact-info-container{width: 160px;
        float: right;
    }
    .phone_number h3{
        font-size: 18px !important;
    }
    .phone_icon{
        width: 26px !important;
        font-size: 28px !important;
    }

    .navbar-collapse{
        position: absolute;
        top: 32px;
        width: 100%;
        z-index: 9999;
    }
    .main-menu .navbar-nav{
        background: #39a3de;
        color: #fff;
    }
    .main-menu .nav>li>a{
        line-height: 28px !important;
        color: #fff !important;
    }
    .dropdown-menu{
        position: inherit !important;
        width: 100% !important;
        background: transparent !important;
        box-shadow: none  !important;
        padding: 0px !important;
    }

    /* location map*/
    .locations{
        padding:0px 20px 15px !important;
        min-height: auto !important;
    }
    .location-detail h1.location-title{
        padding: 20px 0px !important;
    }
    .contact-agent{
        padding: 20px 0px;
        min-height: auto !important;
    }
    div#contact-part{
         min-height: auto !important;
         padding-bottom: 0px !important;
    }
    .agent-form input, textarea{
        width: 100% !important;
    }
    .location-detail{
        padding-top: 0px !important;
    }
    .location-detail-inner{
        background:rgba(0, 0, 0, 0) linear-gradient(360deg,  rgba(67,80,97,0.9) 100%, rgba(255,255,255,0) 40%);
        background:rgba(0, 0, 0, 0) 
        -webkit-linear-gradient(360deg, rgba(67,80,97,0.9) 100%, rgba(255,255,255,0) 40%);
        background:rgba(0, 0, 0, 0)     
        -moz-linear-gradient(360deg, #435061 100%, rgba(255,255,255,0) 40%);
        background:rgba(0, 0, 0, 0)     
        -o-linear-gradient(360deg, #435061 100%, rgba(255,255,255,0) 40%);
        background:rgba(0, 0, 0, 0) 
        -ms-linear-gradient(360deg, #435061 100%, rgba(255,255,255,0) 40%);
    }
    /* footer */
    .footer{    padding: 70px 15px;}
    .footer-wrapper{width: auto !important}
    .footer-menu{
        float: none !important;
        width: 100% !important;
        text-align: center;
    }
    .footer-menu li{display: block;border: none !important;}
    .footer .copyright{
        float: none !important;
        text-align: center;
        width: 100%;
    }
    .col-large-image{width: 100% !important;}
    .col-large-image .wpb_single_image{
        text-align: center;
    }
    .col-box-image{
        width: 100% !important;
    }
    .col-box-image .wpb_single_image{
        width:20%;
        margin-right: 5%;
    }

} 


@media (max-width : 480px) {    
    .slider-banner{display: none;}
    .ui-tabs-nav li{
        display: block;
        width:100% !important;
        text-align: center;
    }
    .ui-tabs-nav li br{display: none !important;}
    .photogalary li{
        width: 50%;
    }
    .time-detail .schedule_visit a{
        padding: 6px 6px !important;
        font-size: 12px;
    }
    .time-detail .schedule_visit{min-width: auto !important;}
    
     .col-box-image .wpb_single_image{
        width:100%;
        margin-right: 0px !important;
        text-align: center;
    }
}

@media (max-width : 400px) {
        .locations .row .col-xs-6{
            width: 100%;
        }
}