/* FONTS  */

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.ttf'); 
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold.ttf'); 
}
*{
margin: 0px;
padding: 0px;
}
body{
	font-family: "Lato-Regular","Arial";
	font-size: 16px;
	line-height: 22px;
	color: #7e8c99;
	line-height:28px;
}
p{
	padding: 0px;
	margin: 0px;
}
h2{
	font-family: "Montserrat-Bold";
	font-size: 27px;
	color: #435061;
	margin-top:40px !important;
	margin-bottom: 20px !important;
	text-transform: uppercase;
}
h3{
	font-family: "Montserrat-Bold";
	font-size: 24px;
	color: #435061;
}
h4{
	font-family: "Montserrat-Bold";
	font-size: 21px;
	color: #435061;
	text-transform: uppercase;
}
h5{
	font-family: "Montserrat-Bold";
	font-size: 16px;
	color: #435061;
	text-transform: uppercase;
}
.wrapper{
	overflow: hidden;
}
.wpb_content_element{
	margin-bottom: 20px !important;
}
.no-margin{margin: 0px !important;}
/* HEADER */
.top-header{
	background: #f1f4f8;
}
.top-header .top-text{
	font-family: "Montserrat-Regular";
	font-size: 12px;
	color:#7e8c99;
	text-transform: uppercase;
	padding: 5px 0px;
}

.socials ul{
	padding: 0px;
	margin: 0px;
	text-align: right;
}
.socials ul li{
	list-style: none;
    display: inline-block;
    padding: 5px 15px;
    border-left: 1px solid #dde2e8;
    font-size: 12px;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.socials ul li i{
	color:#7e8c99;
	font-size: 16px;
}

.main-menu{
	float: left;
    width: 80%;
    min-height: 105px;
}
.contact-info {
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    float: right;
    margin-top: 30px;
    margin-bottom: 10px;
   	width: 19%;
    height: 100%;
  
    -moz-transition: rotate(20deg);
    -webkit-transition: rotate(20deg);
    -o-transition: rotate(20deg);
    -ms-transition: rotate(20deg);
    transition: rotate(20deg);
    font-size: 36px;
    height: 100%;
    line-height: 1.3;
   
    color: #929da9;
}
.phone_icon
{
	float:left;
	height:100%;
	width:30px;
	-moz-transition: rotate(20deg);
	-webkit-transition: rotate(20deg);
	-o-transition: rotate(20deg);
	-ms-transition: rotate(20deg);
	transition: rotate(20deg);
	font-size: 36px;
	height: 100%;
	line-height: 1.3;
	width: 30px;
	color:#929da9;
}
.phone_number
{
	float: left;
}
.phone_number h3
{
	margin:0;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	line-height:1;
	color: #435061;
	font-size: 24px !important;
}
.phone_number h5
{
	margin:0;
	font-size:12px !important;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color:#7e8c99 !important;
	font-weight: normal;
}
/* MENU */
.navbar-toggle{
	background-color:#39a3de;	 	
	border-radius: 0px 0px 0px !important;
	margin-right: 0px !important;
}
.navbar-toggle .icon-bar{
	background: #fff;	
}
.main-menu .navbar-brand
{
	margin-right: 20px;
	padding: 0;
	height: auto;
	padding: 10px 0px;
}
.main-menu .nav>li{
	background: none !important;
}

.main-menu .nav>li>a{
	font-family: "Montserrat-Bold";
	font-size: 14px;
	color:#7e8c99;
	text-transform: uppercase;
	line-height: 87px;
}
.main-menu .nav>li>a:hover{
	background: none !important;
	color:#435061;
}
.main-menu .nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background: none !important;
	color:#435061;
}


/* SUB MENU */
.dropdown-menu{
	background: #39a3de none repeat scroll 0 0;
    list-style: outside none none;
    margin: 0;
    position: absolute;
    min-width: 265px;
    left: 10px;
    padding: 10px;
    opacity: 0;
    display: none;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 99;
    border: none !important;
    border-radius: 0px 0px 0px 0px !important;
}
.navbar-nav> li.dropdown:hover .dropdown-menu
{
 display:block;
 opacity:1;
}
.dropdown-menu > li {
    color: #cfeeff;
    text-transform: uppercase;
}
.dropdown-menu > li > a
{
	 color:#cfeeff !important;
	 text-decoration:none;
	 display:block;
	 font-family: 'Montserrat-Regular', sans-serif;
	 font-size:14px;
	 line-height:28px;
	 white-space:nowrap;
	 line-height: 28px;
}
.dropdown-menu > li > a:hover
{
 	color:#ffffff !important;
 	background: none !important;
}

/* FOOTER */
.footer{
	background:#333d4a;
	color: #e4e9ec;
	font-size:14px;

	padding: 70px 0px;
}
.footer-wrapper{
	overflow: hidden;
	margin: 0 auto;
	width: 710px;
}
.footer .copyright{
	float: left;
}
.footer .copyright a{
	color: #e4e9ec;
	text-decoration: none;
}
.footer-menu{
	float: left;
}
.footer-menu ul.nav-footer{
	margin: 0px;
	padding: 0px;
}
.footer-menu li{
	display: inline-block;
	list-style: none;
	border-right: 1px solid #e4e9ec;
}
.footer-menu li:last-child{
	border-right: none !important;
}
.footer-menu li a{
	font-family: "Lato-Bold";
	font-size: 14px;
	color:#e4e9ec;
	text-decoration: none;
	padding: 5px;
}

/* TAB */
.ui-tabs-nav{
	margin: 30px 0px !important;
}
.ui-tabs-nav li{
	border: none  !important;
	margin: 0px !important;
}
.ui-tabs-nav li.ui-tabs-active, .ui-tabs-nav li:hover{
	background-color: #435061 !important;
}
.ui-tabs-nav li.ui-tabs-active a,.ui-tabs-nav li:hover a{
	color: #fff;
}
.ui-tabs-nav li a{
	font-size: 14px;
	color: #4b5867;
	line-height: 18px;
	padding: 0.5em 1.3em !important;
}
.ui-tabs .ui-tabs-panel{
	background: none !important;
}
.box-image{
	padding-left: 0px !important;
}
.box-image img{
	background: #ffffff;
    padding: 15px;
    box-shadow: 1px 1px 5px #888888;
}

.ui-tabs .image-icon{
	width:20%;
}
.ui-tabs .right-content{
	width:80%;
}

/* Photo gallery */
.box-gallery {
	margin-bottom: -20px !important;
}
.box-gallery .vc_col-sm-12{
	padding: 0px !important;
}
.box-gallery .wpb_content_element {
	overflow: hidden;
}
.photogalary
{
	width:100%;
	float:left;
}
.photogalary ul
{
	margin:0px;
	padding:0px;
}
.photogalary li
{
	width:20%;
	height:auto;
	float:left;
	position:relative;
	list-style:none;
	border:1px solid #ffffff;
}
.clear_all
{
	clear: both;
}
.photogalary li img
{
	width:100%;
	height:auto;
}
.photogalary li .image_description,
.inner-page-gallery-two-columns-dimension-detail .image_description,
.inner-page-gallery-three-columns-dimension-detail .image_description
{
	background: rgba(64, 166, 220, 0.9) none repeat scroll 0 0;
	height: 100%;
	position: absolute;
	opacity:1;
	top: 0;
	width: 100%;
	z-index: 1;
    -webkit-transition: all 0.7s ease-out 0s;
    -ms-transition: all 0.7s ease-out 0s;
    -o-transition: all 0.7s ease-out 0s;
    -moz-transition: all 0.7s ease-out 0s;
    transition: all 0.7s ease-out 0s;
	cursor:pointer;
    overflow: hidden;
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -o-transform:scale(0);
    -ms-transform:scale(0);
    transform:scale(0);
    border-radius:100%;	
}
.photogalary li:hover .image_description,
.inner-page-gallery-two-columns-dimension-detail li:hover .image_description,
.inner-page-gallery-three-columns-dimension-detail li:hover .image_description
{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1);
    border-radius:0;  
}
.photogalary .image_description p,
.inner-page-gallery-two-columns-dimension-detail  .image_description p,
.inner-page-gallery-three-columns-dimension-detail .image_description p
{
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
	font-weight: bold;
	color:#ffffff;
	text-transform: uppercase;
	text-align:center;
}
.photogalary .icon,
.inner-page-gallery-two-columns-dimension-detail .icon,
.inner-page-gallery-three-columns-dimension-detail .icon
{
	background: rgba(255,255,255,0) none repeat scroll 0 0;
	border-radius: 50%;
	color: #31a2e1;
	font-size: 30px;
	height: 48px;
	margin: 25% auto 15px;
	text-align: center;
	width: 48px;
}
.inner-page-gallery-two-columns-dimension-detail .icon img,
.inner-page-gallery-three-columns-dimension-detail .icon img
{
	border:none;
}
.photogalary a{text-decoration: none !important;}



/* NEAR BY */

.near-location-info ul{
	list-style: none;
	padding: 0;
	margin: 0;
	font-family: 'lato', sans-serif;
	font-size: 14px;	
}
.near-location-info .right{
	font-family: 'Montserrat', sans-serif;
	width: 83%;
	float: left;
	color: black;
	font-weight: bold;
	color: #435061;
	text-transform: capitalize;
}
.near-location-info .left{
	width: 17%;
	float: left;
	color: #a6afb8
}
.near-location-info span{
	width: 100%;
	font-size: 14px;
	float: left;
	color: #a6afb8;
	padding: 0 0 0px 0;
	margin: 0 0 10px 0;
	border-bottom: #e1e6ec solid 1px; 
	
}
.near-location-info:last-child span:last-child{
	margin: 0px;
	border-bottom: none;
}
@media screen and (max-width: 1199px){
	.near-location-info .right{
		width: 83%;
	}
	.near-location-info .left{
		width: 17%;
	}
}

@media screen and (max-width: 991px){
	.near-location-info .right{
		width: 79%;
	}
	.near-location-info .left{
		width: 21%;
	}
}

@media screen and (max-width: 767px) and (min-width: 592px){
	.near-location-info .right{
		width: 92%;
	}
	.near-location-info .left{
		width: 8%;
	}
}
@media screen and (max-width: 766px){
	.near-location-map{
		clear:both;
		width:100%;
	}	
}

.near_by_place {margin-top: 30px;margin-bottom: 60px !important;}
.near_by_place img{
	max-width: 100%;
}
.near-by-box{margin-bottom: -20px !important;}
.near-by-box .wpb_content_element{
	margin-bottom: 0px !important;
}

/* LOCATION */
.location-contact-box{
	margin:0px !important;
}
.location-contact-box .wpb_content_element{
	margin-bottom: 0px !important;
}
.location-contact-box .vc_col-sm-12{
	padding: 0px !important;
}

.location-detail{
	min-height: 914px;
	width: 100%;
	float: left;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 135px;
	position:relative;
}
.footer_background_image {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.location-detail-inner
{
	min-height:635px;
	float:left;
	width:100%;
	background:rgba(0, 0, 0, 0) linear-gradient(360deg,  rgba(67,80,97,0.9) 80%, rgba(255,255,255,0) 40%);
	background:rgba(0, 0, 0, 0) 
	-webkit-linear-gradient(360deg, rgba(67,80,97,0.9) 80%, rgba(255,255,255,0) 40%);
	background:rgba(0, 0, 0, 0) 	
	-moz-linear-gradient(360deg, rgba(67,80,97,0.9) 80%, rgba(255,255,255,0) 40%);
	background:rgba(0, 0, 0, 0) 	
	-o-linear-gradient(360deg, rgba(67,80,97,0.9) 80%, rgba(255,255,255,0) 40%);
	background:rgba(0, 0, 0, 0) 
	-ms-linear-gradient(360deg, rgba(67,80,97,0.9) 80%, rgba(255,255,255,0) 40%);

}

.location-detail-inner .container .row div.col-md-8.col-sm-7.col-xs-12.locations,
.location-detail-inner .container .row div#contact-part{
	padding-bottom: 50px;
}
.locations{

	min-height: 637px;
	padding: 0 38px 0 43px !important;
	float: left;
}
@media screen and (max-width:767px){
	.locations
	{
		padding:0px 15px;		
	}
}
.location-detail h1.location-title{
	font-size: 18px !important;
	font-family: 'Montserrat-Bold';
	color: #ffffff !important;
	text-transform: uppercase;
	padding: 50px 0 30px 0;
	margin: 0;
}
.location-detail .col-sm-8 .location-map{
	height: 292px;
	width: 100%;
	margin: 0 0 38px 0;
}
.location-map{
	margin-bottom: 30px;
}
.location-map img{
	width: 100%;
}


.address {
	padding-bottom: 29px;
}
.address-area p,.time-detail p,
.contact-detail a{
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	color: #a5b4c7;
	line-height: 15px;
	margin-bottom:10px;
}
.contact-detail a:hover
{
	color: #a5b4c7 !important;
}
.address-area p span{
	font-weight: bold;
	color: #ffffff;
}

.time-detail h6 {
	font-size: 14px !important;
	font-family: 'Lato', sans-serif;
	color: #ffffff !important;
	font-weight: bold;
	padding-bottom: 25px;
	margin: 0;
}

.time-detail .schedule_visit{
	margin-top: 15px;
	float: left;
	height: 40px;
	background: #ff551a;
	min-width: 197px;
	-moz-transition: 0.2s all;
	-webkit-transition: 0.2s all;
	-o-transition: 0.2s all;
	-ms-transition: 0.2s all;
	transition: 0.2s all;	
}
.time-detail .schedule_visit:hover{
	background: #39a3de;
	outline:none;
}
.time-detail .schedule_visit a{
	font-size: 14px;
	font-family: 'Montserrat-Regular', sans-serif;
	color: #ffffff;
	font-weight: 900;
	text-transform: uppercase;
	padding: 6px 37px;
	float: left;
	text-decoration: none;
	-moz-transition: 0.2s all;
	-webkit-transition: 0.2s all;
	-o-transition: 0.2s all;
	-ms-transition: 0.2s all;
	transition: 0.2s all;	
}
.time-detail .schedule_visit a:hover,
.time-detail .schedule_visit a:focus,
.time-detail .schedule_visit a:active{
	outline:none;
}
.col-lg-6.address-area {
	border-right: 1px solid #505d6f;
	margin-right: 20px;
	padding-right: 0;
	width: 47%;
}

.col-lg-6.time-detail{
	padding-left: 21px;
}

.location-detail #contact-part{
	background: #31a2e1;
	min-height: 637px;
}

.contact-agent{
	padding: 48px 0 48px 22px;
}

.contact-agent h1{
	font-size: 18px !important;
	font-family: 'Montserrat-Regular', sans-serif;
	color: #ffffff !important;
	font-weight: 900;
	text-transform: uppercase;
	padding: 0 0 30px 0;
	margin: 0;
}

.contact-agent img{
	width: 100%;
}

.contact-agent h3.agent-name{
    color: #fff !important;
    font-family: "Montserrat-Regular",sans-serif;
    font-size: 14px !important;
    font-weight: 900;
    margin: 0;
    padding-bottom: 10px;
    text-transform:unset;
}

.contact-agent p,
.contact-agent a{
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	line-height: 15px;
	margin-bottom:10px;
}
.certified-agent{
	color: #a4d8f7 !important;
}

.row.agent-row .col-sm-5{
	width: 36%;
	padding-right: 0px;
}

.row.agent-row .col-sm-7{
	width: 64%;
	padding-left: 20px;
}

.agent-form {
	margin-top: 40px;

}
.agent-form h1{
	font-size: 14px;
	font-family: 'Montserrat-Regular', sans-serif;
	color: #ffffff;
	font-weight: 900;
	padding-bottom: 15px;
	margin: 0;
}

.agent-form input,textarea{
	width: 94% !important;
	background: #0e90d9;
	padding: 5px 20px 5px 20px;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	color: #b1e2ff;
	border: #0e90d9 !important;
	margin-bottom: 10px !important
	resize: none;	
	line-height: 28px !important;
}
.agent-form ::-webkit-input-placeholder {
  color: #b1e2ff;  
}

.agent-form :-moz-placeholder { /* Firefox 18- */
  color: #b1e2ff;   
}

.agent-form ::-moz-placeholder {  /* Firefox 19+ */
  color: #b1e2ff;  
}

.agent-form :-ms-input-placeholder {  
   color: #b1e2ff;  
}
.agent-form textarea{
	height: 95px;
	color: #b1e2ff !important;
	margin-bottom: 10px;
}

.agent-form .send-message{
	font-size: 14px;
	font-family: 'Montserrat-Regular', sans-serif !important;
	font-weight: 900;
	margin: 10px 0 0 0 !important;
	color: #0e90d9 !important;
	background: #ffffff !important;
	-moz-transition: 0.2s all;
	-webkit-transition: 0.2s all;
	-o-transition: 0.2s all;
	-ms-transition: 0.2s all;
	transition: 0.2s all;	
}

.agent-form .send-message:hover{
	background: #435060 !important;
	color: #ffffff !important;
}
.agent-form h3{
	font-family: "Montserrat-Bold";
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
}
.agent-form .wpcf7-form img{width:auto !important;}
.agent-form .wpcf7-form .wpcf7-not-valid-tip{display: none;}
.agent-form .wpcf7-form div.wpcf7-validation-errors{
	font-size: 14px;
	color: #fff;
}


/* About us image */
.row-image-box{margin-bottom:0px !important;margin-top:30px !important;}
.row-image-box img{
border: 1px solid #d2d2d2;
}
.col-large-image{width: 30% !important;}
.col-box-image{
	width: 70% !important;
}
.col-box-image .wpb_single_image{
	float: left;
	width: 22%;
    margin-right: 20px;
}


